<div class="container">
    <div class="col-12">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                URL List
                            </li>
                            <li><a href="{% url "home" %}"><i class="fas fa-home fa-2x"></i></a></li>
                        </ul>
                        <a href="{% url "accounts:logout" %}">
                            <button class="btn btn-danger">Logout</button>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>